{% extends "base.html" %}
{% block content %}

<div class="post">
    <div class="post-author">
        By: {{authorname}}
    </div>

    <div class="post-subject">
        {{subject}}
    </div>

    <pre class="post-content">
        {{content}}
    </pre>

    <div class="comment-edit-link">
        <a href="/blog/edit/{{post_id}}">Edit this article</a>
        <a href="/blog/delete/{{post_id}}">Delete this article</a>
        {% if user_key in post.liked_by_users %}
        <a href="/blog/unlike/{{post_id}}">Unlike</a>
        {% else %}
        <a href="/blog/like/{{post_id}}">Like</a>
        {% endif %}
    </div>
    <div class="error">
        {{error}}
    </div>
</div>

{% for comment in comments %}
    <div class="comment">
        <div class="comment-content">
            {{comment.content}}
        </div>

        {% if comment.user_key == user_key %}
            <div class="comment-edit-link">
                <a href="/blog/{{post_id}}/editcomment/{{comment.key.id()}}">Edit</a>
                <a href="/blog/{{post_id}}/deletecomment/{{comment.key.id()}}">Delete</a>
            </div>
        {% else %}
            <div style="color:rgba(5, 5, 5, 0.15)">You can only edit/delete your own
                comment!</div>
        {% endif %}
    </div>
{% endfor %}

{% if current_username %}
    <div class="comment-form">
        <form method="post">
            <label>
                <div>Add Comment</div>
                <textarea type="text" name="comment" class="comment-input">{{comment}}</textarea>
            </label>

            <div class="error">
                {{error}}
            </div>

            <input type="submit">
        </form>
    </div>
{% else %}
    <div class="error">You must login to comment!</div>
{% endif %}

{% endblock %}